@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 300px;
}


.in_cal {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  41px 41px 82px #797979,
                -41px -41px 82px #ffffff;
    height: 300px;
    width: 1200px;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size:600%
}

.in_cal_result {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  41px 41px 82px #797979,
                -41px -41px 82px #ffffff;
    height: 300px;
    width: 1200px;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size:600%
}

.type_answer {
    width:250px;
    height:100px;
    font-size:100px;
}

.send_answer {
    width:100px;
    height:100px;
    font-size:75px;
}

p {
    text-align: center;
    font-size:200%
}

.button {
    display: flex;
  }

.center {
    justify-content: center;
}
